
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: var(--q);
    padding: var(--q);
    box-sizing: border-box;
    font-family: "Goudy Old Style";

}

:root{
    --color-red-7: #721c24;
    --color-red-f5: #f5c6cb;
    --color-red-f8: #f8d7da;
    --color-green-155: #155724;
    --color-green-d4: #d4edda;
    --color-green-c3: #c3e6cb;
    --color-white: #fff;
    --color-grey: #24272e;
    --color-pink-f83: #f83ed2;
    --color-pink-fd: #fddaf6;
    --color-pink-f6: #f685df;
    --box_s: rgba(0, 0, 0, 0.2);
    --box_s2: rgba(0, 0, 0, 0.19);

    --font-size-1: 10px;
    --font-size-7: 17px;
    --font-size-8: 18px;
    --font-size-0: 20px;
    --font-size-5: 25px;
    --font-size-2: 22px;

    --font-weight-4: 400;
    --font-weight-5: 500;
    --font-weight-6: 600;
    --font-weight-7: 700;

    --border-radius-05: 5px;
    --border-radius-1: 10px;
    --border-radius-3: 30px;
    --border-radius-2: 20px;

    --q: 0;
    --w: 1px;
    --e: 4px;
    --r: 5px;
    --t: 6px;
    --y: 8px;
    --u: 10px;
    --i: 15px;
    --o: 20px;
    --p: 24px;
    --a: 25px;
    --s: 30px;
    --d: 40px;
    --f: 45px;
    --g: 60px;
    --h: 70px;
    --j: 145px;
    --k: 450px;
    --l: 550px;
    --z: 600px;

    --p5: 50%;
    --p9: 90%;
    ---p5: -50%;
}


body{
    background-image: url("background_qu.jpg");
}



.start_btn,
.quiz_box,
.result_box{
    position: absolute;
    top: var(--p5);
    left: var(--p5);
    transform: translate(var(---p5), var(---p5));
    box-shadow: var(--q) var(--e) var(--y) var(--q) var(--box_s),
    var(--q) var(--t) var(--o) var(--q) var(--box_s2);
}

.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(var(---p5), var(---p5)) scale(1);
}

.start_btn button{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-7);
    color: var(--color-grey);
    padding: var(--i) var(--d);
    outline: none;
    border: none;
    border-radius: var(--border-radius-3);
    background: var(--color-white);
    cursor: pointer;
}


.start_btn button:hover{
    background: transparent;
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-7);
    color: var(--color-white);
    padding: var(--i) var(--d);
    outline: none;
    border: none;
    border-radius: var(--border-radius-3);
    cursor: pointer;
}



.quiz_box{
    width: var(--l);
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    transform: translate(var(---p5), var(---p5)) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box .head{
    position: relative;
    z-index: 2;
    height: var(--h);
    padding: var(--q) var(--s);
    background: var(--color-white);
    border-radius: var(--border-radius-2) var(--border-radius-2) 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.quiz_box .head .title{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-6);
}

.quiz_box .head .timer{
    color: var(--color-grey);

    border: var(--w) solid transparent;
    height: var(--f);
    padding: var(--q) var(--y);
    border-radius: var(--border-radius-05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--j);
}

.quiz_box .head .timer .time_left_txt{
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-8);
    user-select: none;
}

.quiz_box .head .timer .timer_sec{
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-7);
    height: var(--s);
    width: var(--f);
    color: var(--color-pink-f6);
    border-radius: var(--border-radius-05);
    line-height: var(--s);
    text-align: center;
    border: var(--w) solid transparent;
    user-select: none;
}

.quiz_box .head .time_line{
    position: absolute;
    bottom: var(--q);
    left: var(--q);

}

section{
    padding: var(--a) var(--s) var(--o) var(--s);
    background: var(--color-white);
}

section .que_text{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-6);
}

section .option_list{
    padding: var(--u) var(--q) var(--u) var(--q);
    width: fit-content;
}


section .option_list .option{
    background: var(--color-pink-fd);
    border: var(--w) solid var(--color-pink-f6);
    border-radius: var(--border-radius-1);
    padding: var(--y) var(--i);
    font-size: var(--font-size-7);
    margin-bottom: var(--u);
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child{
    margin-bottom: var(--q);
}

section .option_list .option:hover{
    color: var(--color-pink-f83);
    background: var(--color-white);
    border: var(--w) solid var(--color-pink-f83);
}


section .option_list .option:focus{
    color: var(--color-pink-f83);
    background: var(--color-white);
    border:var(--w) solid var(--color-pink-f83);
}

section .option_list .option.correct{
    color: var(--color-green-155);
    background: var(--color-green-d4);
    border: var(--w) solid var(--color-green-c3);
}

section .option_list .option.incorrect{
    color: var(--color-red-7);
    background: var(--color-red-f8);
    border: var(--w) solid var(--color-red-f5);
}

section .option_list .option.disabled{
    pointer-events: none;
}


footer{
    height: var(--g);
    padding: var(--q) var(--s);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: var(--w) solid lightgrey;
}

footer .total_que span{
    display: flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: var(--font-weight-5);
    padding: var(--q) var(--r);
}

footer .total_que span p:first-child{
    padding-left: var(--q);
}

footer .buttons button{
    height: var(--d);
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-4);
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--color-white);
    border-radius: var(--border-radius-2);
    background: var(--color-pink-f83);
    border: 1px solid var(--color-pink-f83);
    line-height: var(--u);
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
    display: inline-block;
    padding: var(--u) var(--p);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

footer .buttons button:hover{
    background: var(--color-white);
    color: var(--color-pink-f83);
}

footer .buttons button:focus{
    background: var(--color-white);
    color: var(--color-pink-f83);
}

footer .buttons button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    display: flex;
    padding: var(--a) var(--s);
    width: var(--k);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(var(---p5), var(---p5)) scale(0.9);
    opacity: var(--q);
    pointer-events: none;
    transition: all 0.3s ease;
}


.result_box .complete_text{
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-5);
}

.result_box .score_text span{
    display: flex;
    margin: var(--u) var(--q);
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-5);
}

.result_box .score_text span p{
    padding: var(--q) var(--e);
    font-weight: var(--font-weight-6);
}

.result_box .buttons{
    display: flex;
    margin: var(--o) var(--q);
}

.result_box .buttons button{
    margin: var(--q) var(--u);
    height: var(--f);
    padding: var(--q) var(--o);
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-5);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: var(--border-radius-2);
    color: var(--color-white);
    background: var(--color-pink-f83);
    border: var(--w) solid var(--color-pink-f83);
    transition: all 0.3s ease;
}


.buttons button.restart:hover{
    color: var(--color-pink-f83);
    background: var(--color-white);
}


.theme_btn button{
    margin: var(--q) var(--u);
    height: var(--f);
    padding: var(--q) var(--o);
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-5);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: var(--border-radius-2);
    color: var(--color-white);
    background: var(--color-grey);
    border: var(--w) solid var(--color-grey);
    transition: all 0.3s ease;
}

.theme_btn button:hover{
    color: var(--color-grey);
    background: var(--color-white);
}

@media (max-width: 600px) {
    .quiz_box {
        width: var(--p9);
        font-size: var(--font-size-1);
    }
    section .option_list {
        max-width: var(--p9);
    }
    .result_box {
        width: var(--p9);
        font-size: var(--font-size-1);
        text-align: center;
    }

}